@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Vazir.eot');
    src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('./fonts/Vazir.woff2') format('woff2'), url('./fonts/Vazir.woff') format('woff'), url('./fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: VazirBold;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Vazir-Bold.eot');
    src: url('./fonts/Vazir-Bold.eot') format('embedded-opentype'), url('./fonts/Vazir-Bold.eot') format('woff2'), url('./fonts/Vazir-Bold.eot') format('woff'), url('./fonts/Vazir-Bold.eot') format('truetype');
}

body{
    font-family: Vazir;
    font-weight: normal;
    direction: rtl;
}

.mynav{
    background-color: rgb(189, 187, 186);
    border-bottom: solid 3px rgb(88, 87, 87);
    margin-bottom: 25px;
}

.mynav img{
    height: 50px;
    max-width: 50px;
}
li{
    margin: 15px 15px 15px 25px;
    font-family: Vazir;
}

li a{
    color: black;
}

#submit-ads a{
    background-color: #be3737;
}

.advertising{
    border: solid 1px;
}
.advertising-image img{
    height: 150px;
    width: 200px;
    border: solid 2px  rgb(88, 87, 87);
    border-radius: 5px;
    margin: 5px;
}

.name,.cost{
    margin-bottom: 50px;
    border-radius: 7px;
    background-color: yellow;
    width: 70px;
    text-align: center;
}


.main-ads{
    background-color: #be3737;
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    font-family: Vazir;
    
}

.ads {
    padding: 25px;
}

.ads img{
    width: 200px; height: 200px;
    background-image: url(./defaultpic.png);
    border-radius: 15px 0 0 15px;
}

.ads-card{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 15px;
    margin-bottom: 25px;
}

#cost{
    margin-bottom: 10px;
}

.page-footer {
    background-color: #eeeeee;
    color: #1C2331;
    font-family: Vazir;
}

.footer-copyright {
    color: #1C2331;
    background-color:    rgb(189, 187, 186)  ;
}

.contact-us p {
    direction: ltr;
}
.footer-links{
    padding: 20px 0;
}



.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}









