@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('./fonts/Vazir.woff2') format('woff2'), url('./fonts/Vazir.woff') format('woff'), url('./fonts/Vazir.ttf') format('truetype');
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Vazir;
  }

  .card img{
    max-width:300px;
    height: 300px;
    background-image: url('defaultpic.png');
  }
  .title {
    color: rgb(11, 35, 49);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(121, 34, 34);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  .index{
    direction: rtl;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .homepage{
    font-family: Vazir;
    text-align: center;
    margin: auto;
  }

  .homepage a{
    font-size: 15px;
    color:red;
  }